.header nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: Montserrat;
}

nav ul .nav-item{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.1rem;
}

nav ul .nav-item:hover{
    cursor: pointer;
}

nav ul .nav-item.contact{
    display: flex;
    align-items: center;
    z-index: 3;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

nav ul .nav-item#contact svg{
    margin-left: .3rem;
}

.header .desktop{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.header nav{
    width: 60%;
    min-width: 600px;
}

.contact-sub-modal{
    position: absolute;
    background-color: white;
    width: 300px;
    top: 30px;
    padding: 30px;
    right: 0;
    border-radius: .7rem;
    color: black;
}

.contact-sub-modal .socials .icons {
    display: flex;
    justify-content: space-evenly;
}

.contact-sub-modal .socials span{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.contact-sub-modal .sub-heading{
    width: fit-content;
    padding: .5rem 1rem;
    background: #000;
    color: white;
    margin: 0 auto;
}

.contact-sub-modal .phone, .contact-sub-modal .email{
    border-top: 1px solid #CECECE;
    padding: 1rem 0;
}

.contact-sub-modal span{
    text-align: center;
    display: block;
}

.header .mobile {
    display: flex;
    justify-content: flex-end;
}

.header .menu-btn {
 width: 30px;
 height: auto;       
 display: none;
}

.header .menu-btn:hover{
    cursor: pointer;
}

.header .menu-btn div {
    width: 100%;
    height: 4px;
    border-radius: 1rem;
    margin-bottom: 3px;
    background-color: white;
}


@media screen and (max-width: 768px) {
   .header .nav-items .nav-item:not(:last-of-type){
        display: none;
   }

   .header nav {
        width: 100%;
        min-width: 100%;
   }

   .header .menu-btn {
        display: block;
   }
}